/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  height:100vh;
  flex:1;
  background-image: url('../images/bgq.jpg');
  background-size: contain;
  color:rgb(112, 109, 109);
}

input, button{
  background-color: rgba(128, 128, 128, 0.421);
  border:2px solid gray;
}

button {
  color:pink;
}
/******************************************
/* LAYOUT
/*******************************************/

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
